*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  height:100vh;
  display:flex;
  flex-direction:row;
  border:5px solid blue;
  /* justify-content:start;
  align-items:center;
  align-content:start; */
  gap:10px;
  flex-wrap: wrap;
  text-align:center;
}
.card{
  height:100px;
  width:100px;
  background-color: chocolate;
  border:1px solid black;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
.card2{
  align-self:center;
}